In [14]:
import pandas as pd

In [15]:
data_cleaned = pd.read_csv('Data/Data.csv')

In [16]:
# Xóa các cột có tất cả giá trị Null
data_cleaned = data_cleaned.dropna(axis=1, how='all')

In [17]:
# Tách các biểu cảm trong reactions
def split_reactions(row):
    reaction_dict = eval(row['reactions'])
    return pd.Series(reaction_dict)
reactions = data_cleaned.apply(split_reactions, axis=1)

In [18]:
reactions

     angry   care   haha    like    love   sad   wow
0      1.0   16.0    8.0  1387.0   429.0   NaN   1.0
1      3.0   26.0   13.0   787.0   842.0   2.0   5.0
2    173.0    2.0  113.0   458.0    56.0   8.0   5.0
3      4.0   23.0   21.0  2113.0   647.0   2.0   5.0
4      4.0   87.0  117.0  4013.0  2965.0  10.0  46.0
..     ...    ...    ...     ...     ...   ...   ...
295    NaN    8.0    6.0   619.0   298.0   NaN   NaN
296    2.0   15.0  579.0   984.0   261.0   3.0   3.0
297    5.0   68.0   19.0  4455.0  3154.0   5.0  27.0
298    2.0  117.0   15.0  5564.0  3681.0  12.0  23.0
299    4.0   50.0   32.0  1903.0   962.0   3.0  15.0

[300 rows x 7 columns]

In [19]:
# Các giá trị Null chuyển thành 0
reactions = reactions.fillna(0)

In [20]:
reactions

     angry   care   haha    like    love   sad   wow
0      1.0   16.0    8.0  1387.0   429.0   0.0   1.0
1      3.0   26.0   13.0   787.0   842.0   2.0   5.0
2    173.0    2.0  113.0   458.0    56.0   8.0   5.0
3      4.0   23.0   21.0  2113.0   647.0   2.0   5.0
4      4.0   87.0  117.0  4013.0  2965.0  10.0  46.0
..     ...    ...    ...     ...     ...   ...   ...
295    0.0    8.0    6.0   619.0   298.0   0.0   0.0
296    2.0   15.0  579.0   984.0   261.0   3.0   3.0
297    5.0   68.0   19.0  4455.0  3154.0   5.0  27.0
298    2.0  117.0   15.0  5564.0  3681.0  12.0  23.0
299    4.0   50.0   32.0  1903.0   962.0   3.0  15.0

[300 rows x 7 columns]

In [21]:
# Ghép dữ liệu
data_cleaned = pd.concat([data_cleaned, reactions], axis=1)

data_cleaned.head()

,post_id,text,post_text,time,timestamp,image,image_lowquality,images,images_description,images_lowquality,...,image_ids,was_live,fetched_time,angry,care,haha,like,love,sad,wow
0,858438805652577,NaN,NaN,2023-11-11 00:01:26,1699635686,https://scontent.fhan3-1.fna.fbcdn.net/v/t39.3...,https://scontent.fhan3-1.fna.fbcdn.net/v/t39.3...,['https://scontent.fhan3-1.fna.fbcdn.net/v/t39...,"[""May be a graphic of 1 person and text that s...",['https://scontent.fhan3-1.fna.fbcdn.net/v/t39...,...,['858438805652577'],False,2023-11-14 09:00:53.053904,1.0,16.0,8.0,1387.0,429.0,0.0,1.0
1,858026609027130,Let’s mix it up. Put your own spin on new HEAR...,Let’s mix it up. Put your own spin on new HEAR...,2023-11-10 04:01:42,1699563702,NaN,https://scontent.fhan3-5.fna.fbcdn.net/v/t15.5...,[],[],['https://scontent.fhan3-5.fna.fbcdn.net/v/t15...,...,[],False,2023-11-14 09:01:14.682756,3.0,26.0,13.0,787.0,842.0,2.0,5.0
2,857949939034797,Try not to slow down the beat. Breakout True D...,Try not to slow down the beat. Breakout True D...,2023-11-10 00:01:31,1699549291,NaN,https://scontent.fhan4-1.fna.fbcdn.net/v/t15.5...,[],[],['https://scontent.fhan4-1.fna.fbcdn.net/v/t15...,...,[],False,2023-11-14 09:01:35.491790,173.0,2.0,113.0,458.0,56.0,8.0,5.0
3,857028042460320,❤️‍🔥New HEARTSTEEL skins\n💥Breakout True Damag...,❤️‍🔥New HEARTSTEEL skins\n💥Breakout True Damag...,2023-11-08 02:00:11,1699383611,https://scontent.fhan3-5.fna.fbcdn.net/v/t39.3...,https://scontent.fhan3-5.fna.fbcdn.net/v/t39.3...,['https://scontent.fhan3-5.fna.fbcdn.net/v/t39...,['HEARTSTEEL Kayn sticks his tongue out in def...,['https://scontent.fhan3-5.fna.fbcdn.net/v/t39...,...,[],False,2023-11-14 09:02:37.739663,4.0,23.0,21.0,2113.0,647.0,2.0,5.0
4,856492125847245,NaN,NaN,2023-11-08 00:00:27,1699376427,NaN,https://scontent.fhan3-5.fna.fbcdn.net/v/t15.5...,[],[],['https://scontent.fhan3-5.fna.fbcdn.net/v/t15...,...,[],False,2023-11-14 09:03:21.354840,4.0,87.0,117.0,4013.0,2965.0,10.0,46.0

In [22]:
# Chuyển kiểu dữ liệu của fetched_time sang datetime64
data_cleaned['time'] = pd.to_datetime(data_cleaned['time'])

data_cleaned['time']

0     2023-11-11 00:01:26
1     2023-11-10 04:01:42
2     2023-11-10 00:01:31
3     2023-11-08 02:00:11
4     2023-11-08 00:00:27
              ...
295   2022-08-02 23:00:02
296   2022-07-31 00:00:00
297   2022-07-29 23:00:16
298   2022-07-29 22:00:01
299   2022-07-29 01:00:00
Name: time, Length: 300, dtype: datetime64[ns]

In [23]:
data_cleaned['hour'] = data_cleaned['time'].dt.hour
data_cleaned['day'] = data_cleaned['time'].dt.day
data_cleaned['month'] = data_cleaned['time'].dt.month
data_cleaned['year'] = data_cleaned['time'].dt.year
data_cleaned[['hour', 'day', 'month', 'year']]

     hour  day  month  year
0       0   11     11  2023
1       4   10     11  2023
2       0   10     11  2023
3       2    8     11  2023
4       0    8     11  2023
..    ...  ...    ...   ...
295    23    2      8  2022
296     0   31      7  2022
297    23   29      7  2022
298    22   29      7  2022
299     1   29      7  2022

[300 rows x 4 columns]

In [24]:
data_cleaned.to_csv('Data/Data_cleaned.csv', index=False)